<section class="jumplist">
  <%= raw letter_jumps() %>
</section>
<%= if @current_word do %>
<% %{word: word, def: def} = Gloss.Glossary.get_word!(@current_word) %>
    <h3><%= word %></h3>
    <%= def %>
    <hr class="jumplist">
<% end %>

  <div class="wordlist">
    <%= for {id, word} <- Gloss.Glossary.list_words(@current_section) do %>
      <a href="#" phx-click="show_word" phx-value="<%= id %>"><%= word %></link>
    <% end %>
  </div>
