<section class="jumplist">
  <%= raw letter_jumps() %>
</section>
<div class="wordlist">
  <%= for {id, word} <- Gloss.Glossary.list_words(@current_section) do %>
    <link phx-click="show_word" phx_value="<%= id %>"><%= word %></link>
  <% end %>
</div>
